<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sopms.project.dao.boardDao">
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board VALUES
		(board_seq.nextval,#{btitle},#{name},#{bcontent},#{readcnt},sysdate)
	</insert>
	<update id="uptReadCnt" parameterType="int">
		UPDATE board
		SET readcnt =
		readcnt+1
		WHERE bcode = #{bcode}
	</update>
	<select id="boardList" resultType="board"
		parameterType="boardsch">
		SELECT *
		FROM (
		SELECT rownum cnt, b.*
		FROM BOARD b
		WHERE
		btitle LIKE
		'%'||#{btitle}||'%'
		AND name LIKE '%'||#{name}||'%'
		ORDER BY
		bcode
		DESC)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	<select id="totCnt" resultType="int" parameterType="boardsch">
		SELECT
		count(*)
		FROM BOARD b
		WHERE btitle LIKE '%'||#{btitle}||'%'
		AND name LIKE
		'%'||#{name}||'%'
	</select>
	<select id="getBoard"  resultType="board" 
 	 	parameterType="int">
		SELECT bcode, btitle, name, bcontent, readcnt, regdte
		FROM board
		WHERE bcode = #{bcode}
	</select>
</mapper>