<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sopms.calendar.dao.calendarDao">
	<resultMap type="cal" id="calResult">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>
	<select id="calendarList" resultMap="calResult">
		SELECT id, workcode,
			title, content,
			TO_char(start1, 'YYYY-MM-DD"T"HH24:MI:SS') start1, 
			TO_char(end1, 'YYYY-MM-DD"T"HH24:MI:SS') end1, 
			ALLDAY, 
			COLOR,
			pmcolor,
			manager,
			process 
		FROM calendar
		where manager = #{manager}
	</select>
</mapper>