<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="work" type="sopms.vo.Work"/>
		<typeAlias alias="worksch" type="sopms.vo.WorkSch"/>
		<typeAlias alias="outputs" type="sopms.vo.OutPut"/>
		<typeAlias alias="user" type="sopms.vo.User"/>
		<typeAlias alias="risk" type="sopms.vo.Risk"/>
		<typeAlias alias="project" type="sopms.vo.Project"/>
		<typeAlias alias="board" type="sopms.vo.Board"/>
		<typeAlias alias="boardsch" type="sopms.vo.BoardSch"/>
		<typeAlias alias="boardfile" type="sopms.vo.BoardFile"/>
		<typeAlias alias="userSch" type="sopms.vo.userSch"/>
		<typeAlias alias="cal" type="sopms.vo.Calendar"/>
		<typeAlias alias="riskSch" type="sopms.vo.riskSch"/>
		<typeAlias alias="workfile" type="sopms.vo.WorkFile"/>
		<typeAlias alias="project_List" type="sopms.vo.Project_List"/>
		<typeAlias alias="project_Lp" type="sopms.vo.Project_List_paging"/>
		<typeAlias alias="workpmsch" type="sopms.vo.WorkPmSch"/>
		<typeAlias alias="riskJochi" type="sopms.vo.riskJochi"/>
	    <typeAlias alias="message" type="sopms.vo.Message"/>
	    <typeAlias alias="mypage" type="sopms.vo.MyPage"/>
	    
	</typeAliases>
	<mappers>
		<mapper resource="resource/myWorkMapper.xml"/>
		<mapper resource="resource/userMapper.xml"/>
		<mapper resource="resource/riskMapper.xml"/>
		<mapper resource="resource/projectMapper.xml"/>
		<mapper resource="resource/boardMapper.xml"/>
		<mapper resource="resource/loginMapper.xml"/>
		<mapper resource="resource/calendarMapper.xml"/>
		<mapper resource="resource/dashBoardMapper.xml"/>
		<mapper resource="resource/pjStatusSumMapper.xml"/>
		<mapper resource="resource/projectListMapper.xml"/>
		<mapper resource="resource/ChattingMapper.xml"/>
	</mappers>
	
</configuration>