<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="work" type="sopms.vo.Work"/>
		<typeAlias alias="user" type="sopms.vo.User"/>
	</typeAliases>
	<mappers>
		<mapper resource="resource/myWorkMapper.xml"/>
		<mapper resource="resource/userMapper.xml"/>
	</mappers>
	
</configuration>