<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sopms.myWork.dao.myWorkDao">
	<select id="myWorkCount" parameterType="String" resultType="int">
		select count(*) from wbs
		where manager = #{manager}
	</select>
	<select id="myWorkList" parameterType="worksch" resultType="work">
		select * from 
		(select rownum as no, a.* from wbs a
		where  manager = #{manager} 
		<if test="status != null and status != ''">
    	and status = #{status} 
		</if>
		<if test="title != null and title != ''">
    	and title = #{title} 
		</if>)
		where no between #{start} and #{end}
	</select>
	<select id="detailWork" parameterType="int" resultType="work">
		select a.*,b.compmsg from wbs a,works b
		where a.workcode = #{workcode}
		and a.workcode = b.workcode(+)
	</select>
	<update id="approval" parameterType="work">
		MERGE INTO works a
		USING dual
		ON (a.workcode = #{workcode})
		WHEN MATCHED THEN
			UPDATE SET a.apprmsg = #{apprmsg},
			   		   a.compmsg = #{compmsg},
			  		   a.apprdate = sysdate
		WHEN NOT MATCHED THEN
			INSERT values(#{workcode},#{apprmsg},#{compmsg},sysdate)
	</update>
	<update id="uploadfile" parameterType="workfile">
		merge into workfile a
		using dual
		on (a.workcode = #{workcode})
		when matched then
		update set a.fname = #{fname}
				   a.regdate = sysdate,
				   a.uptdate = sysdate
		when not matched then
		insert  values(#{workcode}, #{fname},sysdate,sysdate)
	</update>
	<select id="myWorkPmCount" parameterType="String" resultType="int">
		SELECT count(*) FROM wbs a, works b
		WHERE a.workcode = b.WORKCODE
		AND a.pm = #{name}
	</select>
	<select id="myWorkListPm" parameterType="workpmsch" resultType="work">
		SELECT * from
		(SELECT rownum AS NO,a.*,b.APPRDATE FROM wbs a, works b
		WHERE a.workcode = b.WORKCODE
		AND a.pm = #{name}
		ORDER BY b.APPRDATE desc)
		WHERE NO BETWEEN #{start} AND #{end}
	</select>
</mapper>