<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sopms.Management.dao.managementDao">
	
	<select id="projectList" parameterType="project_Lp" resultType="project_List">
		select * from 
		(select rownum as no, a.*, b.risk_cnt from project a, risk b
		where  a.pcode = b.pcode
		and a.id = #{pm} )
		where no between #{start} and #{end}
		
	</select>
	
	<select id="projectCount" parameterType="String" resultType="int">
		select count(*) from project
		where id = #{pm}
	</select>
	
	<select id="wbslist" resultType="work">
		select workcode, title, to_char(start_date,'dd-mm-YYYY') as start_date, duration, manager, parent from wbs
		where workcode = #{no} or parent = #{no}
	</select>
	
	
</mapper>