<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sopms.User.dao.userDao">
	<select id="userListPaging" resultType="user" parameterType="userSch">
		<!-- sql 작성 -->
		select * 
		from(
		select rownum as no, dept, name, id
		from member
		where name LIKE '%'||#{name}||'%'
		)
		where no between #{start} and #{end}
	</select>
	<!-- insert delete는 resultType이 없음!  -->
	<select id="totCnt" resultType="int" parameterType="userSch">
	select count(*)
	from member
	where name like '%'|| #{name} ||'%'
	</select>
	<insert id="insertUser" parameterType="user">
	insert into member values (#{id}, #{pass}, #{name}, #{rank}, #{dept}, sysdate)		
	</insert> 
	<delete id="deleteMember" parameterType="String">
		delete from member where id = #{id}
	</delete>
	<delete id="deleteMemberRisk" parameterType="String">
		delete from risk where id = #{id}
	</delete>
	
	<select id="resource" resultType="user" parameterType="String">
	<!-- 이름, 부서, 직급, 투입날짜 -->
	SELECT mem.id,mem.name,mem.dept,mem.RANK
	FROM lesource le,MEMBER mem
	WHERE le.id = mem.id AND pcode= #{pcode}
	</select> 
	
	<delete id="resourcememberDelete" parameterType="String">
	delete from lesource where id = #{id}
	</delete>
	<!-- mapper 두번 작성/ string name으로 넘김/ dept = {#name} --> 
	
	<select id="resourceModal1" resultType="String" parameterType="String">
	SELECT dept FROM PROJECT_dept pd 
	WHERE pcode = #{pcode} 
	</select>
	<select id="resourceModal2" resultType="user" parameterType="user">
	SELECT * from
	(SELECT *
	FROM MEMBER a
	WHERE id NOT IN (SELECT m.id FROM LESOURCE l, MEMBER m
	WHERE l.ID = m.id
	AND pcode = #{pcode}))
	WHERE dept = #{dept}
	</select>
	<insert id="resource2" parameterType="user">
	insert into lesource values (#{pcode},#{id})
	
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>