<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sopms.User.dao.userDao">
	<select id="userListPaging" resultType="user" parameterType="userSch">
		<!-- sql 작성 -->
		select * 
		from(
		select rownum as no, dept, name, id
		from member
		where name LIKE '%'||#{name}||'%'
		)
		where no between #{start} and #{end}
		
	</select>
	<!-- insert delete는 resultType이 없음!  -->
	<select id="totCnt" resultType="int" parameterType="userSch">
	select count(*)
	from member
	where name like '%'|| #{name} ||'%'
	</select>
	<insert id="insertUser" parameterType="user">
	insert into member values (#{id},#{pass},#{name},#{rank},#{dept},sysdate,null)		
	
		
	</insert> 
	
	
</mapper>