@charset "UTF-8";


#status{
	width : 12%;
	position:relative;
	left: 12%;
	margin-left: 45%;
}

#status-1{
	width:80%;
}
	
#gp1{
	position:relative;
	left: 10%;
	margin-left:3%;
	width: 30% ;
}

#title{
	position : relative;
	left:80%;
}